<div><b>Name</b>: {{name}}</div>
<div><b>Unit</b>: {{unit}}</div>
<div><b>Frequency</b>: {{frequency}}</div>
<div><b>Structure</b>: {{structure}}</div>
<div><b>Format</b>: {{format}}</div>
<div><b>Example file</b>: {{exampleFileUrl}}</div>
<div><b>Notes</b>: {{notes}}</div>
