<div class='mt-3'><b>Name</b>: {{{name}}}</div>
<div class='mt-3'><b>Unit</b>: {{{unit}}}</div>
<div class='mt-3'><b>Frequency</b>: {{{frequency}}}</div>
<div class='mt-3'><b>Structure</b>: {{{structure}}}</div>
<div class='mt-3'><b>Format</b>: {{{format}}}</div>
<div class='mt-3'><b>Example file</b>: {{{exampleFileUrl}}}</div>
<div class='mt-3'><b>Notes</b>: {{{notes}}}</div>
